<ion-view view-title="{{chef_username}}">
  <ion-content>

    <div class="list card carta-menus">

	  <div class="item item-image fondo-imagen">
	    <img ng-src="{{chef.user.profile.avatar}}">
	  </div>

	  <div class="item item-avatar chef-puntuacion">
	    <h2>{{chef.user.first_name}} {{chef.user.last_name}}</h2>
	    <p><rating ng-model="chef.rating" max="5" readonly="true"></rating></p>
	  </div>

	  <div class="item item-text-wrap chef-desc">
	    {{chef.bio}}
	  </div>

	  <div class="item item-icon-left balanced chef-exp">
	    <i class="icon ion-coffee"></i>
	    {{chef.experience}}
	  </div>
	  <!--a class="item item-icon-left balanced">
	    <i class="icon ion-thumbsup"></i>
	    Texto
	  </a-->
	  
	  <div class="item item-redes-sociales">
  
  	    <button class="button button-block bt-facebook" href="#/app/request2">
  	      <i class="icon ion-social-facebook"></i>   	{{chef.facebook}}
  	    </button>
  	    <button class="button button-block button-calm bt-twitter" href="#/app/request2">
  	      <i class="icon ion-social-twitter"></i>   	@{{chef.twitter}}
  	    </button>
  	    <button class="button button-block button-positive bt-linkedin" href="#/app/request2">
  	      <i class="icon ion-social-linkedin"></i>   	{{chef.linkedin}}
  	    </button>
  	    <button class="button button-block button-dark bt-instagram" href="#/app/request2">
  	      <i class="icon ion-social-instagram-outline"></i>   	{{chef.instagram}}
  	    </button>
	  </div>
	  
	  <div class="item item-text-wrap centro-tx">
	    <div class="endorsement" ng-repeat="endorsement in endorsements">
	  	    <p>+ + + + + {{endorsement.endorsement}} + + + + +</p>
	  	    <h2><b>{{endorsement.user.first_name}} {{endorsement.user.last_name}}</b></h2>
	  	    <p>&nbsp;</p>
	    </div>
	  </div>

	</div>


  </ion-content>
</ion-view>
