<ion-view view-title="Perfil de {{chef_username}}">
  <ion-content>

    <div class="list card">

	  <div class="item item-image">
	    <img ng-src="{{chef.user.profile.avatar}}">
	  </div>

	  <div class="item item-avatar">
	    <h2>{{chef.user.first_name}} {{chef.user.last_name}}</h2>
	    <div>
		    <i class="icon ion-android-star"></i>
		    <i class="icon ion-android-star"></i>
		    <i class="icon ion-android-star"></i>
		    <i class="icon ion-android-star"></i>
	    	<i class="icon ion-android-star-outline"></i>
	    </div>
	  </div>

	  <div class="item item-text-wrap">
	    {{chef.bio}}
	  </div>

	  <a class="item item-icon-left balanced">
	    <i class="icon ion-coffee"></i>
	    {{chef.experience}}
	  </a>
	  <!--a class="item item-icon-left balanced">
	    <i class="icon ion-thumbsup"></i>
	    Texto
	  </a-->
	  
	  <a class="item item-icon-left assertive" href="#/app/request2">
	    <i class="icon ion-social-facebook"></i>
	    {{chef.facebook}}
	  </a>
	  <a class="item item-icon-left assertive" href="#/app/request2">
	    <i class="icon ion-social-twitter"></i>
	    @{{chef.twitter}}
	  </a>
	  <a class="item item-icon-left assertive" href="#/app/request2">
	    <i class="icon ion-social-linkedin"></i>
	    {{chef.linkedin}}
	  </a>
	  <a class="item item-icon-left assertive" href="#/app/request2">
	    <i class="icon ion-social-instagram-outline"></i>
	    {{chef.instagram}}
	  </a>
	  
	  <div class="item item-text-wrap">
	    <div class="endorsement" ng-repeat="endorsement in endorsements">
		    <p>{{endorsement.endorsement}}</p>
		    <p><b>{{endorsement.user.first_name}} {{endorsement.user.last_name}}</b></p>
		    <p>&nbsp;</p>
	    </div>
	  </div>

	</div>


  </ion-content>
</ion-view>
