<ion-view view-title="Historial">
  <ion-content>
    
  	<div class="list">
	    <a class="item item-thumbnail-left" href="#" ng-repeat="n in [1,2,3,4]">
	      <img ng-src="{{imgpath}}/img/pollo.jpg">
	      <h2>Pollo Imaginario Especial</h2>
	      <p>Carlos Villavicencio</p>
	      <p>Hace 5 días</p>
	      <button class="button button-small button-balanced" ng-click="doReview()">
		    <i class="icon ion-android-star"></i> Calificar
		  </button>
	    </a>
	</div>

  </ion-content>
</ion-view>
