<ion-view view-title="Historial">
  <ion-content>
    
  	<div class="list">
	    <a class="item item-thumbnail-left" href="#" ng-repeat="request in history">
	      <img ng-src="{{request.dish.photo}}">
	      <h2>{{request.dish.name}}</h2>
	      <p>{{request.dish.chef.user.first_name}} {{request.dish.chef.user.last_name}}</p>
	      <p>{{request.date}}</p>
	      <button ng-show="!request.reviewed" class="button button-small button-balanced" ng-click="review({{request.id}},{{request.dish.chef.id}},{{request.dish.id}})">
		    <i class="icon ion-android-star"></i> Calificar
		  </button>
	    </a>
	</div>

  </ion-content>
</ion-view>
