<ion-view view-title="Perfil">
  <ion-content>
    
    <div class="item item-divider">
    	<i class="icon ion-person"></i> Datos Personales
  	</div>
    <div class="list">
	  <label class="item item-input">
	    <span class="input-label">Username</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Password</span>
	    <input type="password">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Nombre</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Apellido</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Email</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Fecha de nacimiento</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Delegación</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Dirección</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Teléfono</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Ciudad</span>
	    <input type="text">
	  </label>
	</div>

	<div class="item item-divider">
    	<i class="icon ion-ios-nutrition"></i> Salud & Ingredientes
  	</div>
  	<div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Cosas que no como</span>
	    <input type="text" placeholder="Fréjol">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Consideraciones de salud</span>
	    <input type="text" placeholder="Intolerante a la lactosa">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Alergias</span>
	    <input type="text" placeholder="Maní">
	  </label>
	</div>

	<button class="button button-block button-positive">
	  Guardar
  	</button>

  </ion-content>
</ion-view>
