<ion-view view-title="Calificar">
  <ion-content>

  <div class="item item-ordenando">
  
  	<form name="reviewForm" id="" class="perfil-list" ng-submit="reviewForm.$valid && doReview()" novalidate>
	    <div class="list list-mis-preferencias">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Recomendación</span>
		    <textarea placeholder="Cómo le pareció el plato?" ng-model="review_new.dish_review"></textarea>
		  </label>

		  <div class="item item-input item-stacked-label">
		    <span class="input-label">Calificación al plato</span>
		    <div>
			    <rating ng-model="review_new.dish_rate" max="review_new.max"></rating>
		    </div>
		  </div>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Testimonio</span>
		    <textarea placeholder="Testimonio para el chef?" ng-model="review_new.chef_review"></textarea>
		  </label>
		  <div class="item item-input item-stacked-label">
		    <span class="input-label">Calificación al chef</span>
		    <div>
			    <rating ng-model="review_new.chef_rate" max="review_new.max"></rating>
		    </div>
		  </div>
		

		<button class="button button-block bt-guardar-carrito">
		  Guardar
	  	</button>
	  	</div>
	</form>

  </div>

  </ion-content>
</ion-view>
