<ion-view view-title="Subcripción">
  <ion-content>
    
    <div class="item item-divider">
    	<i class="icon ion-ios-nutrition"></i> Salud & Ingredientes
  	</div>
  	<div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Cosas que no como</span>
	    <input type="text" placeholder="Fréjol">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Consideraciones de salud</span>
	    <input type="text" placeholder="Intolerante a la lactosa">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Alergias</span>
	    <input type="text" placeholder="Maní">
	  </label>
	</div>

	<div class="item item-divider">
    	<i class="icon ion-ios-location"></i> Confirmar Datos
  	</div>
  	<div class="list">
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Tipo
	    </div>
	    <select>
	      <option>Lunch</option>
	      <option>Almuerzo</option>
	      <option>Fiesta</option>
	      <option>Cocktail</option>
	    </select>
	  </label>
  	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Dirección</span>
	    <input type="text" placeholder="Sea específico e incluya referencias">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Telefono</span>
	    <input type="text" placeholder="Por si acaso">
	  </label>
	  <button class="button button-block button-positive">
		  Realizar pedido
	  </button>

	 </div>

  </ion-content>
</ion-view>
