<ion-view view-title="Menú">
	<ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="checkout()">
        <i class="icon ion-android-cart"></i>
      </button>
      <ngcart-summary></ngcart-summary>
    </ion-nav-buttons>

  <ion-content>

    <div class="list card" ng-repeat="dish in menu">

	  <div class="item item-avatar">
	    <img ng-src="{{dish.chef.user.profile.avatar}}">
	    <h2>{{dish.name}}</h2>
	    <p><a href="#/app/chefs/{{dish.chef.user.username}}/{{dish.chef.id}}">{{dish.chef.user.first_name}} {{dish.chef.user.last_name}}</a></p>
	  </div>

	  <div class="item item-image">
	    <img ng-src="{{dish.photo}}">
	  </div>

	  <div class="item item-text-wrap">
	    {{dish.description}}
	  </div>

	  <a class="item item-icon-left item-text-wrap balanced">
	    <i class="icon ion-ios-pricetags"></i>
	    {{dish.tags}}
	  </a>
	  <a class="item item-icon-left assertive">
	    <i class="icon ion-social-usd"></i>
	    {{dish.price}}
	  </a>
	  <a class="item item-icon-left assertive">
	    <i class="icon ion-fork"></i>
	    <ngcart-addtocart id="{{dish.id}}" name="{{dish.name}}" price="{{dish.price}}" quantity="1" quantity-max="10">Agregar al carrito</ngcart-addtocart>
	  </a>

	</div>
  </ion-content>
</ion-view>
