<ion-view view-title="Menú">
  <ion-content>

    <div class="list card" ng-repeat="n in [1,2,3,4]">

	  <div class="item item-avatar">
	    <img src="/img/chef.jpg">
	    <h2>Pollo Imaginario Especial</h2>
	    <p><a href="#/app/chefs/po5i">Carlos Villavicencio</a></p>
	  </div>

	  <div class="item item-image">
	    <img src="/img/pollo.jpg">
	  </div>

	  <div class="item item-text-wrap">
	    Delicioso pollo rústico imaginario disponible exclusivamente en COZI.
	  </div>

	  <a class="item item-icon-left assertive">
	    <i class="icon ion-ios-pricetags"></i>
	    pollo, apio, tomate, mostaza
	  </a>
	  <a class="item item-icon-left assertive">
	    <i class="icon ion-social-usd"></i>
	    5,000
	  </a>
	  <a class="item item-icon-left assertive" href="#/app/request2">
	    <i class="icon ion-fork"></i>
	    Ordenar
	  </a>

	</div>
  </ion-content>
</ion-view>
