<ion-view view-title="Menú">
	<ion-nav-buttons side="secondary" class="carr-and-burb">
	  <button class="button button-clear" ng-class="{'buscar-activo':search.flag == true}" ng-click="toggleSearch()">
        <i class="icon ion-search"></i>
      </button>
      <button class="button button-clear" ng-click="checkout()">
        <i class="icon ion-android-cart"></i>
      </button>
      <ngcart-summary class="burb-carrito"></ngcart-summary>
    </ion-nav-buttons>

  <ion-content>

  	<div ng-show="search.flag">
  		<input type="search" placeholder="Filtrar" ng-model="search.filters.tags"> <!--ng-change="doFilter()"-->
		<button class="button button-clear" ng-click="cancelFilter()">
		    <i class="icon ion-android-cancel placeholder-icon"></i>
		</button>
  	</div>

    <div class="list card carta-menus" ng-repeat="dish in menu | filter:search.filters">


	  <div class="item item-image fondo-imagen">
	    <img ng-src="{{dish.photo}}">
	    <div  class="opacity"></div>
	    <div class="nombre-precio">
	    	<h2>{{dish.name}}</h2>
	    	<a class="item item-icon-left assertive">${{dish.price}}</a>
	  	</div>
	  </div>



		


	  <!-- TABS -->
	  <div class="item tabs-carta">
	    <div class="tab-solo1" ng-class="{'tab-activo':dish.show_flag!='chef'}" ng-click="showDescription($index)"><a>Descripcion</a></div>
	    <div class="tab-solo2" ng-class="{'tab-activo':dish.show_flag=='chef'}" ng-click="showChef($index)"><a>Chef</a></div>
	  </div>

	  <!--****DESCRIPCION***DESCRIPCION****-->
	  <!--****DESCRIPCION***DESCRIPCION****-->
	  <div class="item item-descripcion" ng-show="dish.show_flag!='chef'">
	  	<div class="item item-text-wrap descripcion-tx">
	    	{{dish.description}}
	  	</div>
		
		<div class="item item-icon-left item-text-wrap balanced chef-tx">
	    	<i class="icon ion-ios-pricetags"></i>{{dish.tags}}
	    </div>

	  </div>

	  <!--****CHEF***CHEF***CHEF***CHEF****-->
	  <!--****CHEF***CHEF***CHEF***CHEF****-->
	  <div class="item item-chef" ng-show="dish.show_flag=='chef'">
	  	<div class="item item-avatar avatar-nombre">
		    	<img ng-src="{{dish.chef.user.profile.avatar}}">    
		    	<p>{{dish.chef.user.first_name}} {{dish.chef.user.last_name}}</p>
	
	    	<div class="bt-mas">
	    		<a href="#/app/chefs/{{dish.chef.user.username}}/{{dish.chef.id}}">más...</a>
	    	</div>
	  	</div>

	  	<div class="item bio-chef">
	  		<p> {{dish.chef.bio}}</p>
	  	</div>
	  	
	  </div>

	 
	  <div class="item estrellas-agregar">
	   
	  	<div class="dv-estrellas">
	  	 	<rating ng-model="dish.rating" max="5" readonly="true" class="estrellas"></rating>
	  	</div>
		
		<div class="dv-agregar">
		  	<ngcart-addtocart id="{{dish.id}}" name="{{dish.name}}" price="{{dish.price}}" quantity="1" quantity-max="15"></ngcart-addtocart>
		</div>

	  </div>

  </ion-content>
</ion-view>
