<ion-view view-title="Subcripción">
  <ion-content>
    
    <div class="item item-ordenando">

    	<div class="item item-divider">
    		<i class="icon ion-clipboard"></i>PLAN ANUAL #01
  		</div>
		<div class="list list-mis-preferencias">
	    	<div  class="item suscrip-tx"><p>This is a basic Card which contains an item that has wrapping text.</p>
	    	<p>This is a basic Card which contains an item that has wrapping text.</p>
	    	</div>	
		</div>
	</div>

	<div class="item item-ordenando">

    	<div class="item item-divider">
    		<i class="icon ion-clipboard"></i>PLAN MENSUAL #02
  		</div>
		<div class="list list-mis-preferencias">
	    	<div  class="item suscrip-tx"><p>This is a basic Card which contains an item that has wrapping text.</p>
	    	<p>This is a basic Card which contains an item that has wrapping text.</p>

	    	</div>	
		</div>
	</div>

	<div class="item item-ordenando">

    	<div class="item item-divider">
    		<i class="icon ion-clipboard"></i>PLAN SEMANAL #03
  		</div>
		<div class="list list-mis-preferencias">
	    	<div  class="item suscrip-tx"><p>This is a basic Card which contains an item that has wrapping text.</p>
	    	<p>This is a basic Card which contains an item that has wrapping text.</p>
	    	</div>	
		</div>
	</div>


  </ion-content>
</ion-view>
