/* Empty. Add your own CSS if you like */

* {
	font-family: 'Open Sans' !important;
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Light-300.ttf);  
    font-weight: 300; 
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-LightItalic-300.ttf);  
    font-weight: 300;
    font-style: italic; 
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Regular-normal.ttf);  
    font-weight: normal;  
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Italic-normal.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Semibold-600.ttf);  
    font-weight: 600;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-SemiboldItalic-600.ttf);  
    font-weight: 600;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Bold.ttf);  
    font-weight: bold;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-BoldItalic.ttf);  
    font-weight: bold;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-ExtraBold-800.ttf);  
    font-weight: 800;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-ExtraBoldItalic-800.ttf);  
    font-weight: 800;
    font-style: italic;  
}





.bar.bar-stable {
	border-color: transparent !important;
	border-bottom: 1px solid #EF7622 !important;
}

.bar-stable {
	/*background-color: #D66B22 !important;*/
	background-color: #ef7622 !important;
	height: 60px;
	color: #ffffff !important;
	border: none !important;
}



.barra_cozi_izq { 
	background-color: #D66B22 !important;
}


.bar .title {
	height: 61px !important;
	text-align: center !important;
	color: #ffffff !important;
}

.title img {
	width: auto;
	height: 61px !important;
	display: inline-block;
	text-align: center !important;
	z-index: 200;
	border: none !important;
}

.has-header {
	top: 60px !important;
	background-color: #D66B22;
	border: none !important;
}

.cozi_barra_izq_fondo {
	background-color: #D66B22;
	padding: 0px 5% !important;
}


.item-icon-left.menu-cozi {
	background-color: #D66B22 !important;
	border: none ! important;
	color: #ffba90;
	border-bottom: 1px solid #EF7622 !important;
	margin: 0 !important;
	font-size: 16px !important;
	font-weight: 300;
}

.item-icon-left.menu-cozi:active {
	color: white;
}

.item-icon-left.menu-cozi .item-content {
	background-color: #D66B22 !important;
	border: none ! important;
	margin: 0 !important;
	padding-left: 60px !important;

}

.item-icon-left.menu-cozi i {
	font-size: 26px !important;
	color: white;
	left: 6px;

}

.bt-iniciar-salir {
	width: 165px;
	height: auto;
	bottom: 15px;
	left: 55px;
	position: absolute !important;
	z-index: 100;
}

.bt-iniciar-salir .item-icon-left {
	width: 100%;
	background-color: #ef7622;
	border: none;
	border-radius: 40px;
	padding: 10px 20px !important;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}

.bt-iniciar-salir .item-icon-left i {
	font-size: 20px;
}

.bt-iniciar-salir .item-icon-left:active {
	background-color: rgba(239,118,34,0.6);
}

.bar-assertive {
	height: 70px;
	z-index: 300;
	border: none;
	background-image: none !important;
	background-color:#D66B22 !important;
	border-color: transparent !important;

}



/******* REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  ******/
/******* REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  ******/
/******* REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  ******/

.burb-carrito {
    width: 18px;
    height: 18px;
    background-color: white;
    color: #2bbc69;
    line-height: 18px;
    text-align: center;
    font-size: 11px;
    font-weight: 800;
    /*margin-left: -12px;*/
    z-index: 50;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
    top: 2px;
    right: -2px;
}

 .bar .title + .buttons {
 	right: 8px !important;
 }

.bar .title {
	line-height: 60px !important;
}

.bar-stable .button.button-clear {
	color: #c16223 !important;
	max-height: 61px !important;
	font-weight: 600;
}

.buscador-dv {
	height: auto !important;
	background-color: #ef7622;
	padding: 0px 10px 10px 10px !important;
	z-index: 900;
	top: 60px !important;
	line-height: normal !important;
	border: none !important;
	/*-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;*/
}

input.dv-input-buscar::-webkit-input-placeholder {
   color: #c16223;
   font-size: 0.9em;
   font-weight: bold;
}

input.dv-input-buscar:-moz-placeholder { /* Firefox 18- */
   color: #c16223;
   font-size: 0.9em;
   font-weight: bold;  
}

input.dv-input-buscar::-moz-placeholder {  /* Firefox 19+ */
   color: #c16223;
   font-size: 0.9em;
   font-weight: bold;  
}

input.dv-input-buscar:-ms-input-placeholder {  
   color: #c16223;
   font-size: 0.9em;
   font-weight: bold;  
}

input.dv-input-buscar {
	width: calc(100% - 80px);
	background-color: #d66b22;
	border-radius: 5px;
	color: white !important;
	display: inline-block;
	padding: 0px 10px;
	line-height: normal !important;
}

.bt-borrar {
	position: absolute !important;
	top: 0;
	left: calc(100% - 113px);
	padding: 0px !important;
}

.bt-borrar i.icon.ion-android-cancel.placeholder-icon:before {
	color: #c16223;
	font-size: 24px !important;
}

.bt-cancelar-search {
	color: white !important;
	font-size: 0.9em !important;
	font-weight: normal !important;
	line-height: normal !important;
	padding: 0px !important;
	right: 10px !important;
	top: -4px !important;
}

.carta-menus {
	background-color: transparent !important;
	margin: 10px 0px !important;
	border-radius: none !important;
}



.fondo.imagen img {
	position: relative;
	background-size: cover;
	z-index: 200;
}

.opacity {

	width: 100%;
	height: 100%;
	z-index: 300;
	position: absolute;
	top: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+60,0+100,0.45+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.45) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.45) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.45) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.45) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */
}

.nombre-precio {
	width: 100%;
	height: auto;
	z-index: 500;
	bottom: 0;
	position: absolute;
	color: white;
}

.nombre-precio h2 {
	width: 70%;
	color: white;
	padding: 10px 15px !important;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}

.nombre-precio a {
	background-color: transparent;
    color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px !important;
}


.tabs-carta {
	color: white;
	border: none !important;
	padding: 0px !important;
}

.tab-solo1, .tab-solo2 {
	width: 50% !important;
	height: auto;
	font-size: 15px;
	font-weight: normal;
	color: #666;
	line-height: 50px;
	float: left;
	text-align: center;
	border-bottom: 4px solid transparent !important;
	margin: 0px;
}


.tab-activo {
	border-bottom: 4px solid #ef7521 !important;
	color: #ef7521;
}

.item.item-descripcion, .item.item-chef {
	padding: 5px 12px !important;
}

.descripcion-tx {
	color: #666;
	font-size: 0.9em;
	font-weight: 300;
	padding: 10px 2px;
}

.chef-tx {
	color: #2bbc69 !important;
	font-size: 0.85em;
	font-weight: 300;
	font-style: italic;
	padding: 12px 2px 10px 36px !important;
	border: none;
	border-top: 1px dotted #ddd;
}

.chef-tx i.icon.ion-ios-pricetags {
	left: 0px;
}

.dv-estrellas {
	width: 49.3%;
	height: auto;
	border-right: 1px solid #ddd;
	display: inline-block;
}

.estrellas-agregar {
	height: 54px;
	padding: 15px 10px !important;
}

.estrellas {
	color: #ef7521;
}

.dv-agregar {
	width: 49.3%;
	height: auto;
	display: inline-block;
    text-align: right;
}

#quantity {
	border: none !important;
	border-bottom: 1px solid #ddd !important;
	font-size: 0.9em;
	font-weight: bold;
	color: #ef7521;
	padding-right: 3px;
	text-align: center;
}

.btn.btn-sm.btn-primary {
	border-radius: 20px;
    background-color: #ef7521;
    padding: 3px 13px!important;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0px 5px;
    border: 2px solid #ef7521;
}

.btn.btn-sm.btn-primary.quitar-bt {
	border-radius: 20px;
    background-color: transparent;
    padding: 3px 11px!important;
    color: #ef7521;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0px 5px;
    border: 2px solid #ef7521;
}

.avatar-nombre {
	padding: 8px 2px 20px 56px !important;
}

.avatar-nombre p {
	color: #2bbc69 !important;
	font-size: 1em;
	font-weight: 600;
	margin: 18px 0px 5px 7px;
	display: inline-block;
}

.avatar-nombre .bt-mas a {
	background-color: #2bbc69;
	color: white;
	padding: 4px 18px;
	font-size: 0.9em;
	font-weight: 600;
	border-radius: 20px;
	text-decoration: none;
	position: absolute;
    right: 0;
    top: 22px;
}

.avatar-nombre img {
	left: 0 !important;
	top: 8px !important;
	border: 3px solid #2bbc69;
	max-width: 55px !important;
    max-height: 55px !important;
}

.bio-chef {
	color: #666;
	font-size: 0.9em;
	font-weight: 300;
	padding: 10px 2px;
	border: none;
	border-top: 1px dotted #ddd;
}

/******* TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/
/******* TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/
/******* TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 4px;
}
ul.rating li i {
  font-size: 20px;
}


/******* FINAL DE TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}


.perfil-list{
	background-color: #ffffff;
}


/* prueba de animacion del bucador */
/* tiene un problema: se ve cuando se carga la pagina un instante; */
/*.buscador-dv.animate-show {
  opacity: 1;
}

.buscador-dv.animate-show.ng-hide-add, .buscador-dv.animate-show.ng-hide-remove {
  transition: all linear 0.20s;
}

.buscador-dv.animate-show.ng-hide {
  opacity: 0;
}*/


/******* ITEM MIS PEDIDOS *** ITEM MIS PEDIDOS*** ITEM MIS PEDIDOS ******/
/******* ITEM MIS PEDIDOS *** ITEM MIS PEDIDOS*** ITEM MIS PEDIDOS ******/
/******* ITEM MIS PEDIDOS *** ITEM MIS PEDIDOS*** ITEM MIS PEDIDOS ******/
/******* ITEM MIS PEDIDOS *** ITEM MIS PEDIDOS*** ITEM MIS PEDIDOS ******/
/******* ITEM MIS PEDIDOS *** ITEM MIS PEDIDOS*** ITEM MIS PEDIDOS ******/

.item.item-mis-pedidos {
	border: none;
	background-color: white;
	padding: 5px 0px 15px 0px !important;
	margin: 10px 0px !important;
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.item.item-divider {
	background-color: transparent;
	border: none !important;
	border-bottom: 1px solid #ddd !important;
	color: #ef7521 !important;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.item.item-divider i {
	font-size: 25px;
	position: absolute;
	left: 10px;
	top: 6px;

}

.list.list-pedidos {
	padding: 10px 10px 0px 10px;
	color: #666;
	font-size: 0.9em;
}

/******* CABECERA CART*** CABECERA CART *** CABECERA CART ******/
/******* CABECERA CART*** CABECERA CART *** CABECERA CART ******/

.cabecera-cart {
	width: 100%;
	color: #ef7622;
	font-style: italic;
	padding: 3px 0px;
	text-align: center;
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 300;
	border-bottom: 1px dotted #ddd;
}


.porcentaje-1{
	width: 7%;
	float: left;
}

.porcentaje-2{
	width:45%;
	float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 6px;
	border-right: 1px solid #ddd;
}
.porcentaje-3{
	width:27%;
	float: left;
	text-align: center;
	padding: 0px 6px;
	border-right: 1px solid #ddd;

}
.porcentaje-4{
	width:20%;
	float: left;
	text-align: center;
}
.aleft {
	color: #ef7622;
	font-weight: bold;
	font-size: 0.9em;
}


.cuerpo-cart {
	width: 100%;

	border-bottom: 1px dotted #ddd;
	color: #ef7622;
	font-style: italic;
	padding: 3px 0px;
	text-align: center;
	display: block;
	position: relative;
	overflow: hidden;
}
.un-pedido {
	width: 100%;
	height: 44px;
	display: block;
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 10px 0px;
}

.porcentaje-1 i.icon.ion-android-cancel {
	color: #ef7622;
	font-size: 24px;
}

.alt-tx {
	line-height: 24px;
}

.pad-borde {
	font-weight: 800;
	line-height: ;
}

.iconos-p3 {
	font-size: 20px;
	color: #2bbc69;
}

