/* Empty. Add your own CSS if you like */


.barra_cozi_izq {
	background-color: #D66B22 !important;
	height: 60px;
	border-bottom: 1px solid #FCA066 !important;
}

.barra_cozi_izq h1 {
	color: white !important;
	line-height: 60px !important;
	font-size: 20px !important;
}

.has-header {
	top: 60px !important;
}

.cozi_barra_izq_fondo {
	background-color: #D66B22;
	padding: 0px 5% !important;
}

.menu-bt-izq {
	background-color: #D66B22 !important;
	border: none;
	color: white;
	border-bottom: 1px solid #FCA066 !important;
	margin: 0 !important;
	padding-left: 5px !important;
}

.menu-bt-izq a {
	background-color: #D66B22 !important;
	border: none;
	padding: 16px 16px 16px 10px !important;
}


ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 20px;
}