/* Empty. Add your own CSS if you like */

* {
	font-family: 'Open Sans' !important;
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Light-300.ttf);  
    font-weight: 300; 
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-LightItalic-300.ttf);  
    font-weight: 300;
    font-style: italic; 
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Regular-normal.ttf);  
    font-weight: normal;  
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Italic-normal.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Semibold-600.ttf);  
    font-weight: 600;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-SemiboldItalic-600.ttf);  
    font-weight: 600;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Bold.ttf);  
    font-weight: bold;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-BoldItalic.ttf);  
    font-weight: bold;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-ExtraBold-800.ttf);  
    font-weight: 800;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-ExtraBoldItalic-800.ttf);  
    font-weight: 800;
    font-style: italic;  
}






.bar-stable {
	/*background-color: #D66B22 !important;*/
	background-color: #ef7622 !important;
	height: 60px;
	border-bottom: 1px solid #EF7622 !important;
	color: #ffffff !important;
}

.barra_cozi_izq { 
	background-color: #D66B22 !important;
}

.bar-stable .button.button-clear {
    color: #ffffff !important;
}

.bar .title {
	height: 60px !important;
	text-align: center !important;
	color: #ffffff !important;
}

.title img {
	width: auto;
	height: 60px !important;
	display: inline-block;
	text-align: center !important;
	z-index: 200;
}

.has-header {
	top: 60px !important;
}

.cozi_barra_izq_fondo {
	background-color: #D66B22;
	padding: 0px 5% !important;
}


.item-icon-left.menu-cozi {
	background-color: #D66B22 !important;
	border: none ! important;
	color: #ffba90;
	border-bottom: 1px solid #EF7622 !important;
	margin: 0 !important;
	font-size: 16px !important;
	font-weight: 300;
}

.item-icon-left.menu-cozi:active {
	color: white;
}

.item-icon-left.menu-cozi .item-content {
	background-color: #D66B22 !important;
	border: none ! important;
	margin: 0 !important;
	padding-left: 60px !important;

}

.item-icon-left.menu-cozi i {
	font-size: 26px !important;
	color: white;
	left: 6px;

}

.bt-iniciar-salir {
	width: 165px;
	height: auto;
	bottom: 15px;
	left: 55px;
	position: absolute !important;
	z-index: 100;
}

.bt-iniciar-salir .item-icon-left {
	width: 100%;
	background-color: #ef7622;
	border: none;
	border-radius: 40px;
	padding: 10px 20px !important;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}

.bt-iniciar-salir .item-icon-left i {
	font-size: 20px;
}

.bt-iniciar-salir .item-icon-left:active {
	background-color: rgba(239,118,34,0.6);
}

/******* TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/
/******* TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/
/******* TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 20px;
}
/******* FINAL DE TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/