/* Empty. Add your own CSS if you like */

* {
	font-family: 'Open Sans' !important;
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Light-300.ttf);  
    font-weight: 300; 
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-LightItalic-300.ttf);  
    font-weight: 300;
    font-style: italic; 
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Regular-normal.ttf);  
    font-weight: normal;  
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Italic-normal.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Semibold-600.ttf);  
    font-weight: 600;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-SemiboldItalic-600.ttf);  
    font-weight: 600;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-Bold.ttf);  
    font-weight: bold;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-BoldItalic.ttf);  
    font-weight: bold;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-ExtraBold-800.ttf);  
    font-weight: 800;
    font-style: italic;  
}

@font-face {
    font-family: 'Open Sans';  
    src: url(../fonts/OpenSans-ExtraBoldItalic-800.ttf);  
    font-weight: 800;
    font-style: italic;  
}






.bar-stable {
	/*background-color: #D66B22 !important;*/
	background-color: #ef7622 !important;
	height: 60px;
	border-bottom: 1px solid #EF7622 !important;
	color: #ffffff !important;
}

.barra_cozi_izq { 
	background-color: #D66B22 !important;
}

.bar-stable .button.button-clear {
    color: #ffffff !important;
}

.bar .title {
	height: 60px !important;
	text-align: center !important;
	color: #ffffff !important;
}

.title img {
	width: auto;
	height: 60px !important;
	display: inline-block;
	text-align: center !important;
	z-index: 200;
}

.has-header {
	top: 60px !important;
	background-color: #D66B22;
}

.cozi_barra_izq_fondo {
	background-color: #D66B22;
	padding: 0px 5% !important;
}


.item-icon-left.menu-cozi {
	background-color: #D66B22 !important;
	border: none ! important;
	color: #ffba90;
	border-bottom: 1px solid #EF7622 !important;
	margin: 0 !important;
	font-size: 16px !important;
	font-weight: 300;
}

.item-icon-left.menu-cozi:active {
	color: white;
}

.item-icon-left.menu-cozi .item-content {
	background-color: #D66B22 !important;
	border: none ! important;
	margin: 0 !important;
	padding-left: 60px !important;

}

.item-icon-left.menu-cozi i {
	font-size: 26px !important;
	color: white;
	left: 6px;

}

.bt-iniciar-salir {
	width: 165px;
	height: auto;
	bottom: 15px;
	left: 55px;
	position: absolute !important;
	z-index: 100;
}

.bt-iniciar-salir .item-icon-left {
	width: 100%;
	background-color: #ef7622;
	border: none;
	border-radius: 40px;
	padding: 10px 20px !important;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}

.bt-iniciar-salir .item-icon-left i {
	font-size: 20px;
}

.bt-iniciar-salir .item-icon-left:active {
	background-color: rgba(239,118,34,0.6);
}

.bar-assertive {
	height: 70px;
	z-index: 100;
	border: none;
	background-color:#D66B22 !important;
}

/******* REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  ******/
/******* REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  ******/
/******* REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  REQUEST  ******/

.burb-carrito {
    width: 18px;
    height: 18px;
    background-color: white;
    color: #2bbc69;
    line-height: 18px;
    text-align: center;
    font-size: 11px;
    font-weight: 800;
    /*margin-left: -12px;*/
    z-index: 50;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
    top: 2px;
    right: -2px;
}

 .bar .title + .buttons {
 	right: 8px !important;
 }

.bar .title {
	line-height: 60px !important;
}

.bar-stable .button.button-clear {
	color: #D66B22 !important;
	max-height: 61px !important;
}

.bar.bar-stable {
	border-color: none;
}

.carta-menus {
	background-color: transparent !important;
	margin: 7px 7px 15px 7px !important;
	box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
	border-radius: none !important;
}



.fondo.imagen img {
	position: relative;
	background-size: cover;
	z-index: 200;
}

.opacity {

	width: 100%;
	height: 100%;
	z-index: 300;
	position: absolute;
	top: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+60,0+100,0.45+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.45) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.45) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.45) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.45) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */
}

.nombre-precio {
	width: 100%;
	height: auto;
	z-index: 500;
	bottom: 0;
	position: absolute;
	color: white;
}

.nombre-precio h2 {
	width: 70%;
	color: white;
	padding: 10px 15px !important;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
}

.nombre-precio a {
	background-color: transparent;
    color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 15px !important;
}


.tabs-carta {
	color: white;
	border: none !important;
	padding: 0px !important;
}

.tab-solo1, .tab-solo2 {
	width: 50% !important;
	height: auto;
	font-size: 15px;
	font-weight: normal;
	color: #666;
	line-height: 50px;
	float: left;
	text-align: center;
	border-bottom: 4px solid transparent !important;
	margin: 0px;
}


.tab-activo {
	border-bottom: 4px solid #ef7521 !important;
	color: #ef7521;
}

.item.item-descripcion {
	padding: 5px 12px !important;
}

.descripcion-tx {
	color: #666;
	font-size: 0.9em;
	font-weight: 300;
	padding: 10px 2px;
}

.chef-tx {
	color: #2bbc69 !important;
	font-size: 0.85em;
	font-weight: 300;
	font-style: italic;
	padding: 12px 2px 10px 36px !important;
	border: none;
	border-top: 1px dotted #ddd;
}

.chef-tx i.icon.ion-ios-pricetags {
	left: 0px;
}

.dv-estrellas {
	width: 49.3%;
	height: auto;
	border-right: 1px solid #ddd;
}

.estrellas-agregar {
	padding: 15px 10px !important;
}

.estrellas {
	color: #ef7521;
}

/******* TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/
/******* TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/
/******* TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 4px;
}
ul.rating li i {
  font-size: 20px;
}



/******* FINAL DE TAMAﾃ前 DE LAS ESTRELLAS DE CALIFICACION******/

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
